.button {
    border: none;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.4;
    min-width: 140px;
    outline: none;
    padding: 16px 22px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.25s ease-in-out;
}

button:focus,
.button:focus {
    outline: none;
}

.button.is-disabled {
    background: #777;
    cursor: wait;
}

.button_lg {
    line-height: 62px;
    padding: 0 34px;
}

.button_full-width {
    width: 100%;
}

.button_height-input {
   height: 60px;
}

.button:hover {
    opacity: 0.85;
}

/*.button__radius {*/
    /*border-radius: 8px;*/
/*}*/

.button_red {
    background: #ff001f;
    color: #fff;
}

.button_black {
    background: #1f1f1f;
    color: #fff;
}

.button_white {
    background: #fff;
    color: #1f1f1f;
}

.button_white:hover {
    background: #035858;
    color: #fff;
}

.button_transparent {
    background: none;
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
}

.button_transparent:hover {
    background: #035858;
    border-color: #035858;
    color: #fff;
}

.button_green {
    background: #035858;
    color: #fff;
}

.button_green:hover {
    opacity: 0.8;
}

.button_green-light {
    background: #C4DFDF;
    color: #007E7E;
}

.button_green-light:hover {
    background: #035858;
    color: #fff;
    opacity: 1;
}

.button_medium {
    width: 180px;
    max-width: 100%;
    padding: 16px 5px;
}

.button_small {
    width: 160px;
    max-width: 100%;
    padding: 16px 11px;
}

.button__xs {
    min-width: 124px;
    max-width: 100%;
    padding: 14px;
}

.button__xs {
    min-width: 124px;
    max-width: 100%;
    padding: 14px;
}

