.footer {
    padding: 60px 0;
    color: #fff;
    background: #1F1F1F;
}

.footer__wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer__column {
    width: 43%;
}

.footer__column:nth-child(2) {
    width: 17%;
}

.footer__column:nth-child(3) {
    width: 17%;
}

.footer__column:nth-child(4) {
    width: 23%;
}

.footer__logo {
    /*margin-bottom: 60px;*/
    margin-bottom: 15px;
    display: flex;
}

.footer__areas-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer__areas-item {
    width: 50%;
}

.footer__info {
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.footer__socials-wrap {
    display: flex;
    margin-bottom: 15px;
}

.footer__socials {
    margin-right: 34px;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;

}

.footer__socials:last-child {
    margin-right: 0;
}

.footer__socials-img {

}

.footer__copyright {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.footer__headline {
    font-family: 'Georgia', sans-serif;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 700;
}

.footer__li {
    display: flex;
}

.footer__a {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    padding: 7px 0;
}

.footer__a:hover {
    opacity: 0.7;
}





.form-response {
    background-color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 32px;
    font-weight: 700;
    height: auto;
    justify-content: center;
    left: 50%;
    line-height: 1.5;
    opacity: 0;
    padding: 60px 68px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s ease-in-out;
    visibility: hidden;
    width: 464px;
    z-index: 10;
}

.form-response.is-active {
    opacity: 1;
    visibility: visible;
}

.form-response h3 {
    color: #1f1f1f;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 12px;
}

.form-response a {
    color: #035858;
    font-weight: 700;
}

.form-response p {
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
}

.form-response__submit {
    margin-top: 20px;
}

.is-underline:hover {
    text-decoration: underline;
}

.gdpr-span {
    color: #4a4a4a;
    display: flex;
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 15px 0;
    text-align: center;
    width: 100%;
}
.gdpr-span a{
    display: contents;
    text-decoration: underline;
    font-weight:bold;
    color:rgb(3,88,88);
}
.cookies_accepted {
    background-color: rgba(3, 88, 88, 0.9);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 1;
    position: fixed;
    transition: 0.35s ease;
    visibility: visible;
    width: 100%;
    z-index: 9999999;
}

.cookies_accepted-container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    max-width: 1440px;
    opacity: 1;
    padding: 15px 98px 15px 122px;
    transition: 0.35s ease;
    visibility: visible;
    width: 100%;
}

.cookies_accepted_hidden {
    opacity: 0;
    visibility: hidden;
}

.cookies_accepted__p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.4;
    margin-right: 20px;
}

.cookies_accepted__p a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-decoration: underline;
}

.cookies__learn_more {
    color: #fff;
    margin-right: 20px;
}

.cookies_button__a {
    align-items: center;
    background: #292929;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin: 0 0 0 auto;
    padding: 10px 20px;
    transition: 0.2s ease;
}

.cookies_button__a:hover {
    background: #fff;
    color: #2d2e2d;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .cookies_accepted-container {
        padding: 15px 30px;
    }
}

@media screen and (max-width: 1200px) {
    .is-underline {
        text-decoration: underline;
    }
}

@media screen and (max-width: 991px) {

    /*.footer {*/
    /*    padding: 30px 0;*/
    /*}*/

    .footer__container {
        text-align: center;
    }

    .footer__wrap {
        display: inline-flex;
        flex-direction: column;
        margin: 0 auto;
        width: auto;
    }

    .footer__areas-list {
        display: inline-flex;
        flex-direction: column;
        width: auto;
    }

    .selected:before {
        width: 48px;
    }

    .select-item__country {
        font-size: 14px;
        margin: 0;
    }

    .footer__areas-item {
        width: 100%;
    }

    .footer__column:nth-child(n + 1){
        width: auto;
        /*text-align: center;*/
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .footer__headline {
        text-align: left;
    }

    .footer__li {
        /*justify-content: center;*/
    }

    .footer__copyright {
        text-align: left;
    }

    .footer__logo {
        /*justify-content: center;*/
        display: inline-flex;
        margin-bottom: 50px;
    }

    .footer__socials-wrap {
        /*justify-content: center;*/
        display: inline-flex;
        margin-bottom: 30px;
    }

    .footer__info {
        display: none;
    }

    .footer__a {
        margin-bottom: 5px;
        opacity: 0.5;
    }
}

@media screen and (max-width: 600px) {
    .footer__nav,
    .service-single footer {
        display: none;
    }

    .form-response {
        padding: 30px;
        width: calc(100vw - 30px);
    }

    .cookies_accepted-container {
        flex-direction: column;
        justify-content: center;
    }

    .cookies_button__a,
    .cookies__learn_more {
        margin: 15px auto 0;
    }

    .cookies_accepted__p {
        margin: 0;
    }

    .home-getintouch {
        display: none;
    }
}
