.form-group {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.form-group_big {
    margin-bottom: 24px;
}

.form-group label:not(.custom-checkbox__label) {
    line-height: 1;
    font-size: 16px;
    position: absolute;
    top: 47px;
    transform: translateY(-50%);
    left: 16px;
    color: #a0a0a0;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s ease-in-out;
    cursor: text;


    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    width: 100%;
}

.form-group label span:not(.custom-checkbox__mark) {
    font-style: normal;
    font-size: 20px;
    color: #007E7E;
    display: inline-block;
    margin-left: auto;
}

.form-group__error {
    position: absolute;
    font-size: 11px;
    text-transform: uppercase;
    left: 0;
    bottom: -14px;
    color: rgba(255, 118, 118, 1);
    opacity: 0;
    visibility: hidden;
}

.form-group.is-error .form-group__error {
    opacity: 1;
    visibility: visible;
}

.form-group textarea {
    width: 100%;
    min-height: 140px;
    max-height: 200px;
    outline: none;
    border: none;
    resize: none;
    color: #1a1a1a;
    background: #f2f2f2;
    border-radius: 0;
    font-weight: 400;
    padding: 20px 15px 15px 15px;
    margin: 20px 0 0 0;
    line-height: 1.4;
}

.form-group input {
    line-height: 20px;
    height: 60px;
    outline: none;
    border: none;
    padding: 20px 16px;
    color: #1a1a1a;
    border-radius: 0;
    margin-top: 16px;
    font-size: 14px;
    background: #f2f2f2;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.form-group input::placeholder {
    color: #c4c4c4;
}

.form-group label:first-letter {
    text-transform: uppercase;
}

.form-group input.pass {
    padding: 0 62px 0 16px;
}

.form-group__eye {
    position: absolute;
    right: 19px;
    top: 38px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: url('../img/eye.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.is-visible .form-group__eye {
    background-image: url('../img/eye-off.svg');
}

.is-focused label:not(.custom-checkbox__label) {
    font-weight: 400;
    text-transform: uppercase;
    color: #1f1f1f;
    letter-spacing: 1px;
    transform: none;
    top: 0;
    left: 0;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.form-group .help-block {
    font-size: 14px;
    color: #212121;
    padding: 5px 0;
}

.form-group__arrow {
    position: absolute;
    right: 19px;
    top: 33px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-checkbox__label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox__checkbox {
    display: none;
}

.custom-checkbox__mark {
    display: inline-block;
    width: 16px;
    min-width: 16px;
    margin-right: 10px;
    height: 16px;
    border: 1px solid #CBCBCB;
}

.custom-checkbox__checkbox:checked ~ .custom-checkbox__mark {
    background-color: #035858;
    background-image: url("../img/checkbox_white.svg");
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #035858;
}

.custom-checkbox__description {
    color: #4a4a4a;
    font-size: 10px;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .form-group input {
        margin-top: 18px;
    }
}
