.header {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 100%;
    z-index: 12;
    transition: 0.3s ease-in-out;
    position: absolute;
    background-color: transparent;
}

.header__only-logo {
    display: none;
}

body.home .header,
body.is-marketplace .header {
    position: fixed;
    background: #F7F7F7;
}

body.home .home-hero .header {
    background: none;
    /*background: linear-gradient(180deg, rgba(171, 210, 210, 1) 0%, rgba(171, 210, 210, 1) 60%, rgba(255,255,255,.0) 100%);*/
    display: flex;
}

body.home .home-hero .header.header_not-scrolling {
    height: 100px;
    transition: .3s;
}

body.home .home-hero .header.header_scrolling {
    background: #abd2d2;
    height: 80px;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.header__li_services:after {
    content: '';
    position: absolute;
    right: -13px;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-image: url(../../assets/img/header/services-chevron.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    transition: .3s;
}
.header__li_services:hover:after {
    transform: rotate(180deg);
}

.header__li_services.is-hover:hover .header-submenu,
.header__li_services.is-hover:hover .header-nested-menu__wrap {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.header-nested-menu__wrap {
    position: absolute;
    padding: 10px 0;
    top: calc(100% + 10px);
    left: -7px;
    width: 235px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
    transform: translateY(10px);
    background: #FFFFFF;
    box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.header-nested-menu__wrap:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: rotate(45deg) translate(-50%, -28%);
    background: #FFFFFF;
    width: 8px;
    height: 8px;
}

.header-nested-menu__list {

}

.header-nested-menu__item {

}

.header-nested-menu__link {
    padding: 10px 0 10px 20px;
    font-size: 14px;
    line-height: 1;
    display: block;
    color: #1F1F1F;
    text-decoration: none;
    transition: .3s;
}

.header-nested-menu__link.header-nested-menu__link_hover:hover {
    background: #C4DFDF;
    color: #007E7E;
}

.header-submenu {
    position: absolute;
    padding: 32px 36px 20px 36px;
    top: calc(100% + 10px);
    /*left: -195px;*/
    left: -90px;
    width: 820px;
    background: #f7f7f7;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
    transform: translateY(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.header-submenu:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: rotate(45deg) translate(-50%, -28%);
    background: #f7f7f7;
    width: 8px;
    height: 8px;
}

.header__headline {
    color: #1F1F1F;
    font-size: 20px;
    line-height: 1;
    font-family: 'Georgia', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.header-submenu__list {
    display: flex;
    flex-wrap: wrap;
}

.header-submenu__item {
    position: relative;
    width: 25%;
    margin-bottom: 30px;
    padding-right: 20px;
}

.header-submenu__headline {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    cursor: default;
    margin: 0 4px 20px 14px;
    position: relative;
    /*cursor: pointer;*/
}

.header-submenu__coming-soon {
    background: url("../../assets/img/home/whyChooseUs/star.png");
    right: 25px;
    top: -21px;
    transform: translateX(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;

    font-weight: bold;
    font-size: 4px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;

    display: flex;
    align-items: center;
}

.header-submenu-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.header-submenu-list__item {
    color: #000;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.4;
    position: relative;
    padding:  8px 0;
    width: 100%;
    text-decoration: none;
    display: flex;
}

.header-submenu-list__item:before {
    content: '	•  ';
    width: 14px;
}

.header__logo {
    align-items: center;
    display: flex;
    margin-right: 25px;
    position: relative;
    z-index: 30;
}

.header__menu {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.header__nav {
    align-items: center;
    display: flex;
    margin-right: auto;
}

.header__ul {
    display: flex;
    flex-wrap: wrap;
}

.header__li {
    display: flex;
    margin-right: 10px;
    position: relative;
}

.header__li:last-child {
    margin-right: 30px;
}

.header__a {
    color: #4A4A4A;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1px;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.25s ease-in-out;
}

.header__li.is-bold .header__a {
    color: #1F1F1F;
    font-weight: bold;
}

.header__a:hover,
.header__li.is-bold .header__a:hover {
    color: #007e7e;
}

.header-user {
    align-items: center;
    display: flex;
    margin-left: auto;
}

/* unlogined */

.header-user__sign-in {
    background-color: transparent;
    border: none;
    color: #1F1F1F;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    margin-right: 2px;
    padding: 16px 23px;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.header-user__sign-in:hover {
    color: #007e7e;
}

/* unlogined */

/* logined */

.header-user__container.is-logined {
    display: flex;
    margin-left: auto;
}

.header-user__link {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

.header-user__avatar {
    border-radius: 50%;
    height: 48px;
    margin-right: 12px;
    object-fit: cover;
    width: 48px;
}

.header-user__name {
    color: #035858;
    font-weight: 700;
    line-height: 1.2;
    transition: 0.7s ease-in-out;
    padding-top: 2px;
}

.header-user__name:first-letter {
    text-transform: uppercase;
}

.header-user__sign-in,
.header-user__sign-up {
    max-width: 290px;
}

.header__socials {
    display: none;
}

/* SignIned */
/* SignIned */
/* SignIned */
/* SignIned */
/* SignIned */

.home .header.js-global-header-scrolling {
    transform: translateY(-100%);
}

/*header-menu-socials*/
.header-menu-socials {
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header-menu-socials__item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #1F1F1F;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 37px;
    transition: .3s;
}

.header-menu-socials__item:last-child {
    margin-right: 0;
}

.header-menu-socials__item:hover {
    opacity: .5;
}

.header-menu-socials__img {

}

.header-menu__copyright {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    color: #1F1F1F;
    margin-left: -15px;
}


@media screen and (min-width: 1201px) {
    .home .header {
        left: 0;
        position: fixed;
        top: 0;
    }
}

@media screen and (min-width: 993px) {
    .header-burger {
        display: none;
    }
}

@media screen and (max-width: 992px) {

    html.home .home-hero .header.header_not-scrolling {
        height: 80px;
    }

    html.home .home-hero .header {
        background-color: #abd2d2;
    }

    html.is-marketplace .header {
        position: absolute;
    }

    .header-submenu,
    .header__li_services:after {
        display: none;
    }

    .header-nested-menu__wrap,
    .header-nested-menu__wrap:after {
        display: none;
    }

    .header-user__sign-up {
        display: none;
    }

    .header__container {
        align-items: center;
        justify-content: space-between;
    }

    .header__logo {
        margin-right: 0;
    }

    .header-user__sign-in {
        padding: 0;
        margin-bottom: 0;
    }

    html.home .header,
    html.is-marketplace .header {
        height: 64px;
    }

    .header__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        flex-direction: column;
        margin: 0 auto;
    }


    .header-burger {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: auto;
        justify-content: center;
        position: static;
        right: 0;
        top: 0;
        transform: translateY(0);
        transition: 0.7s ease-in-out;
        /*width: 45px;*/
        z-index: 30;
        background-position: center;
        background-repeat: no-repeat;

        width: 21px;
        flex-direction: column;
        overflow: hidden;
    }

    /*.header-burger svg {*/
    /*width: 40px;*/
    /*height: 22px;*/
    /*transition: 0.7s ease-in-out;*/
    /*}*/

    .header__menu {
        flex: initial;
        margin-right: 0;
        justify-content: flex-end;
    }

    .header__nav {
        padding: 80px 0 40px;
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transform: translateX(-100vw);
        transition: 0.5s ease-in-out;
        visibility: hidden;
        width: calc(100% - 20px);
        background: #EDEDED;
        flex-direction: column;
        z-index: 20;
        box-shadow: 0 0 44px rgba(0, 0, 0, 0.3);
        align-items: flex-start;
    }

    .is-unlogined {
        display: block;
        position: relative;
        z-index: 30;
        transition: .5s;
    }


    .is-menu .is-unlogined {
        padding-right: 10px;
    }

    .is-menu .header__nav {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }

    .header__ul {
        flex-direction: column;
        padding-left: 0;
        flex: auto;
        width: 100%;
    }

    .header__li {
        margin-right: 0;
        border-bottom: 1px solid #D8D8D8;
    }

    .header__li:first-child {
        border-top: 1px solid #D8D8D8;
    }

    .header__li:last-child {
        margin-right: 0;
    }

    .header__a {
        /*font-size: 20px;*/
        /*line-height: 3;*/
        font-size: 12px;
        line-height: 1;
        width: 100%;
        padding: 28px 30px;
    }

    .header-burger span {
        width: 21px;
        height: 2px;
        background-color: #4a4a4a;
        margin-bottom: 5px;
        transition: transform .5s ease-in-out;
    }

    .is-menu .header-burger span:first-child {
        transform: translateY(7px) rotate(45deg);
    }

    .is-menu .header-burger span:nth-child(2) {
        transform: scale(0);
    }

    .is-menu .header-burger span:last-child {
        transform: translateY(-7px) rotate(-45deg);
    }

    .header-burger span:last-child {
        margin-bottom: 0;
    }

    /*.is-menu .header-burger svg {*/
    /*fill: #212121;*/
    /*}*/

    html.home .home-hero .header.header_scrolling {
        height: 64px;
    }

    html.home .home-hero .header.header_not-scrolling {
        height: 64px;
    }
}

@media screen and (min-width: 601px) {
    .header-user__avatar {
        height: 48px;
        width: 48px;
    }

    .header-user__name {
        font-size: 16px;
    }

    .header-burger {
        right: 10px;
    }

    .header-mobile {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    /*.header {*/
    /*height: 64px;*/
    /*z-index: 104;*/
    /*background-color: transparent;*/
    /*position: absolute;*/
    /*}*/

    .header__nav {
        padding: 64px 0 40px;
    }

    .home-hero .header {
        display: none;
    }

    .header .container {
        padding: 0 15px;
    }

    .header__logo img {
        height: 30px;
    }

    /*.is-unlogined {*/
    /*display: block;*/
    /*position: relative;*/
    /*z-index: 30;*/
    /*transition: .5s;*/
    /*}*/


    /*.is-menu .is-unlogined {*/
    /*padding-right: 10px;*/
    /*}*/

    .header-user__avatar {
        height: 40px;
        width: 40px;
    }

    .header-user__name {
        font-size: 14px;
        color: #035858;
    }

    html.home .header-user__name {
        color: #fff;
    }

    .header-burger {
        right: 0;
    }

    .header-mobile {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .header-mobile.is-logined {
        display: none;
    }

    .is-menu .header-user__sign-in {
        color: #A0A0A0;
    }

    /*.header-user__sign-in {*/
    /*background: #000;*/
    /*color: #fff;*/
    /*margin: 0 0 20px 0;*/
    /*}*/
}
