@import './reset.css';
@import './button.css';
@import './form-group.css';
@import './slick.css';
@import './footer.css';
@import './header.css';
@import './select2.css';
@import './modal-window.css';
@import './product-hunt-modal.css';

:root {
    --font-size-base: 16px;
    --font-size-h1: 28px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-h4: 16px;
    --font-size-h5: 14px;
}

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Georgia/Georgia-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Georgia/Georgia.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

body {
    background: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

@media screen and (max-width: 992px) {
    body.is-menu {
        overflow: hidden;
        max-height: 100vh;
    }
}

#app {
    overflow: hidden;
}

#app > div {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 120px;
    position: relative;
    width: 100%;
}

body .page-padding {
    padding: 80px 0 60px;
}

.preloader {
    align-items: center;
    background: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.preloader:before {
    background: #292929;
    content: '';
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: 0.4s ease-in-out;
    width: 100vw;
    z-index: 1005;
}

.preloader img {
    height: auto;
    width: 180px;
}

.is-loaded .preloader {
    opacity: 0;
    transition: 0s ease-in-out 0.5s;
    visibility: hidden;
}

.is-loaded .preloader:before {
    transform: scaleX(1);
}

.box-title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 32px;
    line-height: 1.2;
    color: #1F1F1F;
}

@media screen and (max-width: 1400px) {
    .container {
        padding: 0 15px;
    }
}

.wrap {
    width: 100%;
    max-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .wrap {
        max-width: 100%;
        padding: 0 30px;
    }
}

.wrap-xl {
    width: 100%;
    max-width: 1220px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.h1 {
    color: #1f1f1f;
    font-size: 36px;
    font-weight: 700;
    padding: 24px 0 40px 0;
}

.h2 {
    color: #1f1f1f;
    font-size: 36px;
    font-weight: 700;
    padding: 24px 0;
    width: 100%;
}

.page-padding {
    padding: 80px 0 60px;
}

.page-title-padding-top {
    padding-top: 40px;
}

.service-h1 {
    width: 100%;
    margin-bottom: 40px;
    color: #1F1F1F;
    font-family: 'Georgia', sans-serif;
}

.unselectable {
    filter: blur(5px);
    user-select: none;
    pointer-events: none;

}

a.unselectable {
    color: #000;
}

.hidden {
    display: none !important;
}

/*.custom-slick-style*/

.custom-slick-style {
    position: relative;
}

.custom-slick-style.slick-dotted.slick-slider,
.custom-slick-style .slick-dotted.slick-slider {
    margin-bottom: 0;
}

.custom-slick-style .slick-slide > div {
    padding: 0 10px;
}

.custom-slick-style .slick-list {
    padding: 10px 0;
}

.custom-slick-style .slick-dots {
    top: calc(100% + 70px);
    display: flex !important;
    justify-content: center;
}

.custom-slick-style .slick-dots li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0 0 0 15px;
}

.custom-slick-style .slick-dots li button,
.custom-slick-style .slick-dots li button:before {
    color: transparent;
    transition: 0.25s ease-in-out border;
}

.custom-slick-style .slick-dots li button {
    border: 0 solid transparent;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #A0A0A0;
}

.custom-slick-style .slick-dots li.slick-active button  {
    border: 8px solid #C4DFDF;
    background: #035858;
}
.custom-slick-style .slick-dots li.slick-active {
    position: relative;
}

.custom-slick-style .slick-dots li.slick-active button:before {
    color: transparent;
}

.custom-slick-style .slick-next,
.custom-slick-style .slick-prev {
    top: 50%;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/arrow-withe.svg');
    color: transparent;
    z-index: 5;
    transition: 0.3s ease-in-out;
    opacity: .3 ;
    background-color: #000;
    border-radius: 50%;
}

.custom-slick-style .slick-next:focus,
.custom-slick-style .slick-next:hover,
.custom-slick-style .slick-prev:focus,
.custom-slick-style .slick-prev:hover{
    background-image: url('../img/arrow-withe.svg');
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.custom-slick-style .slick-prev {
    transform: rotate(180deg);
    left: -6px;
}

.custom-slick-style .slick-next {
    left: auto;
    right: -6px;
    transform: rotate(0);
}

.custom-slick-style .slick-dots li button:before,
.custom-slick-style .slick-next:before,
.custom-slick-style .slick-prev:before {
    display: none;
}

@keyframes fadeButton {
    0% {
        transform: scale(0.5);
    }

    70% {
        opacity: 1;
        transform: scale(1.25);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1200px) {
    .custom-slick-style .slick-slider {
        width: calc(100vw - 30px);
    }
}

@media screen and (max-width: 992px) {
    .wrap-xl {
        padding-right: 30px;
        padding-left: 30px;
    }

    .container {
        padding: 0 30px;
    }

    .custom-slick-style .slick-slider {
        width: calc(100vw - 60px);
    }
}

@media screen and (max-width: 768px) {
    .h1 {
        font-size: 28px;
    }

    .custom-slick-style .slick-dots {
        top: calc(100% + 35px);
    }

    .mobile-hidden {}
}

@media screen and (max-width: 600px) {
    .mobile-hidden {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .service-h1 {
        padding: 0 0 15px 0;
    }
}

