.modal-window {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 0;
}

.modal-window.is-response form {
    opacity: 0;
    visibility: hidden;
}

.modal-window__overlay {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.modal-window__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
}

.modal-window__close img {
    width: 16px;
    height: 16px;
}

.modal-window__content {
    position: relative;
    background-color: #fff;
    width: 464px;
    min-height: 250px;
    padding: 80px 98px 90px 98px;
    transform: translate(0, -30%);
    transition: 0.45s ease-in-out;
    opacity: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

.new-modal-design.modal-window .modal-window__content {
    background: #E5E5E5;
    border-radius: 20px;
    padding: 0 25px 25px;
}

.new-modal-design .modal-window__close {
    top: 12px;
    right: 12px;
    border: 1px solid #035858;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-modal-design .modal-window__close img {
    width: 10px;
}

/*.new-modal-design .modal-window__close_svg path {*/
    /*fill: #035858;*/
/*}*/

.modal-window__content.is-active {
    transform: translate(0, 0);
    opacity: 1;
}

.modal-window_2 .modal-window__content {
    width: 830px;
    flex-direction: row;
    justify-content: space-between;
}

.modal-window__caption {
    font-family: 'Georgia', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 10px 0;
    width: 100%;
    color: #1f1f1f;
    line-height: 1;
    text-align: center;
}

.modal-window__sub-caption {
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
    color: #1F1F1F;

}

.modal-window__description {
    color: #a0a0a0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 27px;
}

.modal-window__span {
    color: #a0a0a0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 27px;
}

.modal-window__span span {
    color: #007e7e;
    margin-right: 5px;
}

.modal-window_2 .modal-window__span {
    width: 100%;
}

.modal-window_2 .form-group {
    width: calc(50% - 49px);
}

.modal-window_2 .button {
    margin: 16px 0 0 auto;
    width: calc(50% - 49px);
}

.sign-up.modal-window_2 .button {
    margin-top: 0;
}

.modal-window_2 .form-group_long {
    width: 100%;
}

.modal-window__signin_custom {
    color: #4a4a4a;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

span.modal-window__signin_in-singup {
    line-height: normal;
    margin-top: 16px;
    font-size: 14px;
    justify-content: flex-start;
    cursor: default;
    color: #000;
}

span.modal-window__signin_in-singup span {
    /*text-decoration-line: underline;*/
    font-weight: 400;
    margin-left: 15px;
    cursor: pointer;
}

.modal-window__signin_custom span {
    margin-left: 10px;
    color: #035858;
    transition: 0.2s ease;
}

.modal-window__signin_custom span:hover {
    text-decoration: underline;
}

.gdpr-span.gdpr-span_singup {
    font-size: 10px;
    line-height: 1.6;
    text-align: left;
    color: #000;
}

.gdpr-span.gdpr-span_singup a {
    color: #035858;
    text-decoration: none;
    font-weight: 400;
}

.gdpr-span.gdpr-span_singup a:hover {
    text-decoration: underline;
}

.modal-window__signin {
    width: auto;
    margin: 0;
    color: #035858;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
    outline: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.modal-window__signin_2 {
    line-height: 38px;
    width: auto;
    margin: 0 0 20px;
    color: #787993;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: 0.3s ease;
    cursor: pointer;
}

.modal-window__signin_2_id {
    line-height: 48px;
    margin: 16px 0 0 0;
}

.modal-window__signin_2 button {
    color: #035858;
    background-color: transparent;
    outline: none;
    border-radius: 0;
    border: none;
}

.modal-window__signin:hover {
    text-decoration: underline;
}

#contact-us .button {
    margin-top: 20px;
}

#set-new-password .button {
    margin-top: 20px;
}

.form-group_calendar {
    z-index: 5;
}

/*.modal-window.sign-up .modal-window__content,*/
/*.modal-window. .modal-window__content,*/
.modal-window .modal-window__content {
    padding: 40px 85px;
}

/*.modal-window.sign-up .modal-window__caption {*/
/*    font-family: 'Georgia', sans-serif;*/
/*    font-size: 20px;*/
/*    line-height: 1;*/
/*    margin: 0 0 10px 0;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*}*/

/*.modal-window_2.sign-up .form-group {*/
/*width: calc(50% - 12px);*/
/*}*/

.modal-window_2.sign-up .modal-window__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.modal-window_2.sign-up .modal-window__signin_2 {
    margin: 0;
    color: #000;
}

.modal-window_2.sign-up .form-group {
    margin-bottom: 20px;
}

.modal-window_2.sign-up .form-group input {
    margin-top: 20px;
}

.modal-window_2.sign-up .creatable-select.form-group input {
    margin-top: 0;
}

.modal-window_2.sign-up .form-group label {
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal-window_2.sign-up .form-group label span {
    margin-left: auto;
    color: #007E7E;
    font-size: 20px;
    line-height: 1;
    position: relative;
    top: 2px;
}

.modal-window_2.sign-up .form-textarea {
    width: 100%;
}

.modal-window_2.sign-up .form-textarea textarea {
    min-height: 60px;
}

.modal-window_2.sign-up .form-group_select {
    padding-top: 20px;
}

.modal-window_contact-lawyer .modal-window__content {
    padding: 30px 40px;
}

.modal-window_contact-lawyer .modal-window__caption {
    font-size: 32px;
    font-family: 'Georgia', sans-serif;
    margin-bottom: 20px;
}

.modal-window_contact-lawyer .form-group {
    margin-bottom: 24px;
}

.modal-window_contact-lawyer .form-group textarea {
    padding: 23px 15px;
    margin-top: 75px;
    min-height: 200px;
    max-height: 450px;
    resize: vertical;
}

.modal-window_contact-lawyer.is-gdpr .form-group textarea {
    height: 400px;
}

.modal-window_contact-lawyer .form-group label {
    line-height: 1.2;
}

@media screen and (max-width: 1200px) {
    .modal-window__content {
        max-width: 100vw;
    }

    .modal-window__signin_2 span {
        text-decoration: underline;
    }
}

@media screen and (max-width: 992px) {
    .modal-window__signin_2_id {
        line-height: 38px;
        margin: 0 auto 7px;
    }

    .modal-window_2 .modal-window__content {
        width: 416px;
        padding: 80px 88px 60px;
    }

    .modal-window .modal-window__content {
        padding: 30px 30px 90px 30px;
    }

    .modal-window_2 .form-group {
        width: 100%;
    }

    .modal-window_2 .button {
        width: 100%;
    }

    .modal-window_2.sign-up .form-group {
        width: 100%;
    }

    .modal-window_2.sign-up .modal-window__footer {
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .modal-window__content,
    .modal-window_2 .modal-window__content {
        padding: 30px 30px 90px 30px;
        margin: 0 auto 60px auto;
        width: 100vw;
        max-width: 90vw;
    }

    .modal-window__content:after {
        content: '';
        position: fixed;
        left: 0;
        bottom: -60px;
        width: 100vw;
        height: 60px;
        z-index: -1;
    }

    .modal-window__close {
        right: 8px;
    }

    .modal-window_2 .form-group {
        width: 100%;
    }

    .modal-window_2 .button {
        margin: 16px auto 0 auto;
        width: 100%;
    }

    .modal-window__signin_2 {
        margin: 0 auto 20px;
    }

    .modal-window__caption {
        font-size: 24px;
        line-height: 1.5;
    }

    .modal-window__span {
        line-height: 1;
        margin-bottom: 19px;
    }

    .modal-window__close {
        right: 16px;
        top: 16px;
    }

    .modal-window {
        padding: 0;
    }

    /*.modal-window__button {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0px;*/
    /*width: 100%;*/
    /*height: 70px;*/
    /*}*/

    .modal-window__button_mobile-no-radius {
        border-radius: 0;
    }

    .modal-window__button-already {
        position: static;
        width: 100%;
        height: 48px;
    }

    .modal-window__signin,
    .modal-window__signin_custom span {
        text-decoration: underline;
    }

    .modal-window__close_svg path {
        fill: #000;
    }

    .modal-window_contact-lawyer .modal-window__content {
        padding: 15px;
    }

    span.modal-window__signin_in-singup {
        flex-direction: column;
    }

    span.modal-window__signin_in-singup span {
        margin-left: 0;
    }
}
