.product-hunt-modal__img {
    display: inline-block;
    max-width: 100%;
    height: 150px;
}

.product-hunt-modal__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.2;
    color: #035858;
    margin-bottom: 15px;
    text-align: center;
}

.product-hunt-modal__sub-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

.product-hunt-modal__info {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    color: #3D3D3D;
    margin-bottom: 20px;
}

.product-hunt-modal__policy-description {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
}

.product-hunt-modal__policy {
    color: #035858;
    font-weight: bold;
    text-decoration: none;
}

.product-hunt-modal__form {
    width: 210px;
    max-width: 90%;
    margin: 0 auto 30px;
}

.product-hunt-modal__form-group {
    margin-bottom: 7px;
    text-align: center;
}

.product-hunt-modal__form-control {
    background: #EFEFEF;
    border: 0.5px solid #035858;
    border-radius: 5px;
    height: 27px;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    font-size: 10px;
    color: #3D3D3D;
}

.product-hunt-modal__form-control:focus {
    border-color: #035858;
    outline: none;
}

.product-hunt-modal__form-control::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #3D3D3D;
    text-align: center;
}

.product-hunt-modal__send-button-wrap {
    margin-top: 20px;
}

.product-hunt-modal__send-button {
    width: 100%;
    background: #035858;
    border-radius: 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 11px 5px;
    text-transform: none;
    display: inline-block;
}
