.service-single-new {

}

.service-single-new__title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 1.3;
    color: #1F1F1F;
}

.service-single-new__sub-title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1;
    color: #1F1F1F;
}

.service-single-new__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-single-new__lawyers {
    width: calc(100% - 290px - 30px);
}

.service-single-new__information {
    width: 290px;
}

.service-single-new__info-block {
    margin-bottom: 30px;
}

.service-single-new__info-title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    color: #1F1F1F;
    margin-bottom: 20px;
}

.service-single-new__info-description {
    font-family: 'Montserrat';
    background: rgba(196, 196, 196, .2);
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.8;
    padding: 20px;
    color: #1F1F1F;
}

.service-single-new__info-description p,
.service-single-new__info-description span {
    font-family: 'Montserrat' !important;
    font-size: 14px !important;
    color: #1F1F1F !important;
}

.service-single-new__info-description ol,
.service-single-new__info-description ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.service-single-new__info-description li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 15px;
}

.service-single-new__info-description li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 13px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #1F1F1F;
}


.service-single-new__info-link-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 7px;
}

.service-single-new__info-link-item {
    margin-bottom: 20px;
}

.service-single-new__info-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
    text-decoration: underline;
    color: #007E7E;
    transition: .3s;
}

.service-single-new__info-link:hover {
    opacity: .6;
}

.service-single-new__pagination {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .service-single-new__lawyers {
        width: 100%;
    }

    .service-single-new__information {
        width: 100%;
        margin-top: 40px;
    }

    .service-single-new__pagination {
        width: 100%;
    }
}
