.my404__container {
    padding-top: 80px;
    padding-bottom: 100px;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.my404__container h1 {
    line-height: 1.6;
}

.my404__container a {
    color: #035858;
}
