.single-lawyer {
    padding: 30px 65px;
    background: #FDFDFD;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
}

.single-lawyer__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.single-lawyer__header-info {
    width: calc(60% - 15px);
    margin-bottom: 15px;
}

.single-lawyer__header-feedbacks {
    width: calc(40% - 15px);
}

.single-lawyer__header-info-inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}


.single-lawyer__avatar-wrap {
    margin-right: 25px;
}

.single-lawyer__avatar {
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #EDEDED;
}

.single-lawyer__about {

}

.single-lawyer__name {
    display: flex;
    align-items: center;
    font-family: 'Georgia';
    font-size: 16px;
    color: #333333;
    margin-bottom: 10px;
}

.single-lawyer__name span {
    font-weight: bold;
}

.single-lawyer__name-icon {
    margin-left: 5px;
}

.single-lawyer__progress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-lawyer__certificates {
    width: calc(50% - 5px);
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 1.3;
    color: #007E7E;
}

.single-lawyer__certificates-img {
    margin-right: 10px;
}

.single-lawyer__info-list {
    width: calc(50% - 5px);
}

.single-lawyer__info-item {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 14px;
    color: #4A4A4A;
    margin-bottom: 7px;
}

.single-lawyer__info-img {
    width: 15px;
    margin-right: 10px;
}

.single-lawyer__experience {

}

.single-lawyer__experience-title {
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 8px;
}

.single-lawyer__experience-description {
    font-size: 14px;
    line-height: 1.7;
    color: #1F1F1F;
}

[data-collapse='false'] .collapse-short {
    display: none;
}
[data-collapse='true'] .collapse-full {
    display: none;
}

.single-lawyer__experience-more {
    display: inline-block;
    margin-left: 15px;
    font-size: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #007E7E;
    font-weight: bold;
    opacity: 1;
    transition: .3s;

    background: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
}

.single-lawyer__experience-more:hover {
    opacity: .8;
}

.single-lawyer__experience-more:focus {
    outline: none;
}

.single-lawyer__feedbacks-title {
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 8px;
}

.single-lawyer__feedbacks-wrap {
    margin-bottom: 15px;
    max-height: 200px;
    overflow: auto;
}

.single-lawyer__single-feedbacks {
    margin-bottom: 15px;
}

.single-lawyer__single-feedbacks:last-child {
    margin-bottom: 0;
}

.single-lawyer__feedbacks-more {
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: none;

    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #007E7E;
    cursor: pointer;
    transition: .3s;
}

.single-lawyer__feedbacks-more:hover {
    opacity: .8;
}

.single-lawyer__feedbacks-more:focus {
    outline: none;
}

.single-lawyer__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-lawyer__body-left {
    width: 220px;

}

.single-lawyer__accordion {
    margin-bottom: 30px;
}

.single-lawyer__accordion-title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    color: #1F1F1F;
    margin-bottom: 25px;
}

.single-lawyer__services-description {
    width: calc(100% - 220px - 50px);
}

.single-lawyer__services-description_mobile {
    display: none;
}

.single-lawyer__info-block {
    margin-bottom: 30px;
}

.single-lawyer__info-block-title {
    font-weight: bold;
    font-size: 8px;
    line-height: 1;
    text-transform: uppercase;
    color: #4A4A4A;
    margin-bottom: 10px;
}

.single-lawyer__info-block-list {

}

.single-lawyer__info-block-item {
    position: relative;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.2;
    color: #333333;
    padding-left: 10px;
}

.single-lawyer__info-block-item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #333333;
}

.single-lawyer__info-block-link {
    opacity: 1;
    color: #007E7E;
    text-decoration: none;
    transition: .3s;
}

.single-lawyer__info-block-link:hover {
    opacity: .8;
}

.single-lawyer__footer {
    margin-top: 10px;
}

/* start feedback-new */

.feedback-new {
    border: 1px solid #E6E6E6;
    padding: 20px;
}

.feedback-new__message {
    font-style: italic;
    font-size: 14px;
    line-height: 1.7;
    color: #333333;
    margin-bottom: 20px;
}

.feedback-new__footer {
    display: flex;
    justify-content: space-between;
}

.feedback-new__author-name {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 14px;
    color: #333333;
}

.feedback-new__author-position {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    color: #828282;
}

/* end feedback-new */

/* start accordion */

.accordion {

}

.accordion-item {

}

.accordion-item__name {
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
    border-radius: 2px;
    transition: .3s;
}

.accordion-item__name:hover {
    background: #F2F2F2;
}

.accordion-item__name-icon {
    transform: rotate(-90deg);
}

.accordion-item__children-list {
    display: none;
}

.accordion-item__children-list-item {
    padding: 15px 15px 15px 30px;
    font-size: 12px;
    color: #828282;
    cursor: pointer;
    transition: .3s;
}

.accordion-item__children-list-item:hover {
    color: #007E7E;
}



.accordion-item__active .accordion-item__children-list{
    display: block;
}

.accordion-item__active .accordion-item__name {
    background: #F2F2F2;
}

.accordion-item__active .accordion-item__name-icon {
    transform: rotate(0deg);
}

.accordion-item__children-list-item.accordion-item__children-list-item_active {
    color: #007E7E;
}

/* end accordion */

/*start services-description*/

.services-description {
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    padding: 30px 45px 40px;
}

.services-description__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}

.services-description__title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: #333333;
    margin-bottom: 10px;
}

.services-description__about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-description__about-price {
    display: inline-block;
}

.services-description__starting {
    font-weight: bold;
    font-size: 8px;
    line-height: 1;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 5px;
}

.services-description__price {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    color: #333333;
    margin-bottom: 7px;
}

.services-description__button {
    min-width: 130px;
    padding: 13px 20px;
}

.services-description__button_mobile {
    display: none;
}

.services-description__body {
    margin-bottom: 30px;
}

.services-description__info-name {
    font-weight: bold;
    font-size: 8px;
    line-height: 1;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 12px;
}

.description__main {
    font-size: 14px;
    line-height: 1.2;
    color: #333333;
}

.services-description__list-title {
    font-size: 14px;
    line-height: 1.2;
    color: #333333;
    margin-bottom: 30px;
}

.services-description__list {

}

.services-description__list-item {
    position: relative;
    padding-left: 10px;
    font-size: 14px;
    line-height: 1;
    color: #333333;
    margin-bottom: 30px;
}

.services-description__list-item:last-child {
    margin-bottom: 0;
}

.services-description__list-item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #333333;
}

.services-description__footer {
    font-size: 14px;
    line-height: 1.7;
    color: #333333;
}

@media screen and (max-width: 768px) {

    .services-description {
        padding: 15px;
    }

    .services-description__header {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
    }

    .services-description__about {
        align-items: flex-start;
        width: 100%;
    }

    .services-description__about-price {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .services-description__button_desktop {
        display: none;
    }

    .services-description__button_mobile {
        display: inline-block;
    }
}

/*end services-description */

@media screen and (max-width: 992px) {

    .single-lawyer {
        padding: 15px;
    }

    .single-lawyer__header-info {
        width: 100%
    }

    .single-lawyer__header-feedbacks {
        width: 100%
    }
}

@media screen and (max-width: 768px) {

    .single-lawyer__body-left {
        width: 100%;
    }

    .single-lawyer__services-description {
        width: 100%;
        margin-bottom: 30px;
    }

    .single-lawyer__services-description_desktop {
        display: none;
    }

    .single-lawyer__services-description_mobile {
        display: block;
    }

    .single-lawyer__name {
        justify-content: center;
    }

    .single-lawyer__avatar-wrap {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .single-lawyer__about {
        width: 100%;
    }

    .single-lawyer__certificates {
        width: 100%;
        margin-bottom: 7px;
    }

    .single-lawyer__info-list {
        width: 100%;
    }
}
