.post-item-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.news {
    background: #f7f7f7;
    padding-top: 80px;
    max-width: 100%;
}

.news__category-wrap {
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.news__posts-wrap {
    margin-top: 40px;
}

.news__pagination-wrap {
    margin-bottom: 60px;
}

.news__category-list {
    display: flex;
}

.news__category-list a {
    padding: 11px 10px;
    min-width: 124px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #4A4A4A;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.news__category-list a:after {
    content: '';
    background: #007E7E;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 0;
    height: 2px;
    transition: .3s;
}

.news__category-list a.news__category-list_active:after {
    width: 100%;
}

.news__category-list a:hover,
.news__category-list a.news__category-list_active {
    color: #007E7E;
}

.news__title {
    font-size: 32px;
    font-family: 'Georgia', sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
}

@media screen and (min-width: 601px) {
    .news {
        min-height: calc(100vh - 186px);
    }
}

@media screen and (max-width: 600px) {
    .news {
        min-height: calc(100vh - 128px);
    }

    .news {
        padding-top: 64px;
    }

    .news__category-list {
        align-items: center;
        justify-content: center;
    }

    .news__category-list a {
        min-width: auto;
        padding: 11px 7px;
    }
}
