.areas {
    padding: 80px 0 60px;
}

.areas__title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 32px;
    line-height: 1.4;
    color: #1F1F1F;
    margin-bottom: 50px;
}

.areas__title.areas__title_with-lawyer {
    margin-bottom: 20px;
}

.areas__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.areas__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .areas__item {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .areas__item {
        width: 100%;
    }
}
