.home-h2 {
    color: #1f1f1f;
    font-size: 32px;
    line-height: 1.31;
    font-family: 'Georgia', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.home-getintouch {
    background-color: transparent;
    border: none;
    bottom: 22px;
    box-shadow: none;
    cursor: pointer;
    height: 110px;
    padding: 0;
    position: fixed;
    right: calc((100vw - 1440px) / 2 + 22px);
    width: 110px;
    z-index: 15;
}

.home-getintouch:after {
    border: 1px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    content: '';
    height: 108px;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 108px;
}

.home-getintouch.is-inverse:after {
    border-color: rgb(0, 126, 126);
    border-top-color: transparent;
}

.home-getintouch svg {
    width: 110px;
}

.home-getintouch rect {
    transition: 0.3s ease-in-out;
}

.home-getintouch.is-inverse rect {
    fill: rgb(0, 126, 126);
}

.home-getintouch #ico-mail-white path {
    transition: 0.3s ease-in-out;
}

.home-getintouch.is-inverse #ico-mail-white path {
    fill: white;
}

.home-getintouch path {
    transition: 0.3s ease-in-out;
}

.home-getintouch.is-inverse path {
    fill: rgb(0, 126, 126);
}

@media screen and (max-width: 1440px) {
    .home-getintouch {
        right: 22px;
    }
}

.home-why-choose {
    padding: 80px 0;
    background: #EDEDED;
}

.home-why-choose__h2 {
    text-align: center;
    margin-bottom: 40px;
    justify-content: center;
    width: 100%;
}

.home-why-choose__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.home-why-choose__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 12px;
    padding: 40px 30px 40px 30px;
    width: 302px;
    transition: 0.4s ease-in-out;
    position: relative;
}

.home-why-choose__img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 75px;
    height: 75px;
    margin-bottom: 30px;
    border-radius: 50%;
    background: #035858;
    color: #fff;
}

.gdpr .home-why-choose__description {
    color: #212121;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    max-width: 230px;
    font-family: 'Georgia', sans-serif;
    margin-bottom: 10px;
}

.html-gdpr .header {
    display: none;
}

.home-why-choose-tooltip__description {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 4px;
    color: #4A4A4A;
    transition: 0.4s ease-in-out;
}

@media screen and (max-width: 1200px) {
    .home-why-choose__wrap {
        flex-direction: column;
        align-items: center;
    }

    .home-why-choose__item {
        padding: 15px;
        margin: 0 0 20px 0;
        width: 100%;
        background: #fff;
    }
}

@media screen and (max-width: 992px) {

    .gdpr-question {
        padding: 80px 0 60px;
    }

    .html-gdpr .header {
        display: flex;
        height: 80px;
    }

    .gdpr-question__logo {
        display: none;
    }

    .gdpr-question-steps__login {
        display: none;
    }

}

@media screen and (max-width: 600px) {
    .html-gdpr .header {
        display: flex;
        height: 64px;
    }

    .gdpr-question {
        padding: 64px 0 60px;
    }

    .home-why-choose {
        padding: 60px 0;
    }

    .home-why-choose-tooltip {
        width: calc(100vw - 30px);
    }
}
