.chatbot-response {
    margin-left: 5%;
    text-align: left;
}

.chatbot-service-list {
    list-style-type: disc;
}

.gdpr-question {
    padding: 0 0 60px;
    background: #F7F7F7;
}

.gdpr-question__header {
    display: flex;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 28px;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.gdpr-question__header:after {
    content: '';
    position: absolute;
    width: calc(100vw * 2 + 30px);
    left: -100vw;
    top: 100%;
    height: 1px;
    background: #D8D8D8;
}

.gdpr-question-steps__login {
    visibility:hidden;
    padding: 0;
    min-width: auto;
    color: #A0A0A0;
    margin-top: 10px;
    font-size: 10px;
    background: none;
}

.gdpr-question-steps__login:hover {
    color: #035858;
}

.gdpr-question__logo {
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    /*margin-bottom: 50px;*/
}

.gdpr-question-steps {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    /*margin: 0 auto 28px;*/
}

.gdpr-question-steps__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex: auto;
}

.gdpr-question-steps__headline {
    padding: 0 10px;
    text-align: left;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 1.4;
    max-width: 80%;
    margin: 0 auto;
    color: #777;
    transition: 0.3s ease-in-out;
}

.gdpr-question-steps__item.is-active .gdpr-question-steps__headline {
    color: #007E7E;
}

.gdpr-question-steps__description {
    width: 32px;
    height: 32px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /*margin-bottom: 8px;*/
    font-size: 14px;
    margin-top: 0;
    position: relative;
    background-color: #F7F7F7;
    transition: 0.3s ease-in-out;
}

.gdpr-question-steps__description span {
    position: relative;
    z-index: 1;
    background-color: #F7F7F7;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    color: #4A4A4A;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #D8D8D8;
}

.gdpr-question-steps__item.is-active .gdpr-question-steps__description span {
    background-color: rgba(3, 98, 88, 1);
    color: #fff;
    border-color: #007E7E;
}

.gdpr-question-steps__item:not(:last-child) .gdpr-question-steps__description:after {
    /*content: '';*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*width: 180px;*/
    /*height: 1px;*/
    /*top: 50%;*/
    /*background: #D8D8D8;*/

}

.gdpr-question-steps__item.is-active:not(:last-child) .gdpr-question-steps__description:after {
    background: #007E7E;

}

.gdpr-question-steps__lawyer-info {
    width: 100%;
}

.gdpr-question__h2.home-h2 {
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}

.gdpr-question__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    width: 950px;
}

.gdpr-question__list {
    border: 1px solid #D8D8D8;
    border-bottom: none;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 25px;
}

.gdpr-question__list.gdpr-question__list_registration {
    padding: 40px 90px 70px;
    border-bottom: 1px solid #cbcbcb;
    text-align: left;
    width: 460px;
    margin: 0 auto 40px;
    font-size: 14px;
    line-height: 2.2;
    font-weight: 400;
    color: #1F1F1F;
}

.gdpr-question__list.gdpr-question__list_registration h3 {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20px;
    padding-left: 30px;
    color: #1F1F1F;
}

.gdpr-question__list.gdpr-question__list_registration p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 14px;
    color: #1F1F1F;
}

.gdpr-question__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D8D8D8;
    background: #F2F2F2;
    color: #4a4a4a;
    line-height: 1.4;
    font-size: 14px;
    cursor: pointer;
}

.gdpr-question__item .custom-checkbox__label {
    padding: 15px;
    width: 100%;
}

.gdpr-question__item .custom-checkbox__description {
    font-size: 14px;
}

.gdpr-question-part {
    display: none;
}

.gdpr-question-part.gdpr-question-part_active {
    display: block;
}

/*.gdpr-question__checkbox {*/
    /*width: 16px;*/
    /*min-width: 16px;*/
    /*height: 16px;*/
    /*margin-right: 15px;*/
    /*border-radius: 3px;*/
    /*cursor: pointer;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*!*background-size: 8px;*!*/
    /*background-color: #F4F4F4;*/
    /*position: relative;*/
/*}*/

/*.gdpr-question__checkbox:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: 1px solid #CBCBCB;*/
/*}*/

/*.gdpr-question__item.is-active .gdpr-question__checkbox {*/
    /*background-color: #035858;*/
    /*background-image: url('../../../assets/img/checkbox_white.svg');*/
/*}*/

/*.gdpr-question__item.is-active .gdpr-question__checkbox:after {*/
    /*border-color: #035858;*/
/*}*/

/*.gdpr-question__description {*/
    /*font-weight: 300;*/
/*}*/

.gdpr-question-explanation {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    /*text-align: center;*/
    max-width: 100%;
    width: 950px;
    margin: 0 auto 30px;
    font-size: 14px;
    font-weight: bold;
}

.gdpr-question-explanation__textarea {
    width: 460px;
    margin-bottom: 40px;
}

/*.gdpr-question-explanation__headline {*/
/*font-size: 20px;*/
/*font-weight: 700;*/
/*margin-bottom: 12px;*/
/*}*/

.gdpr-question-explanation__description {
    /*font-size: 16px;*/
    /*line-height: 1.4;*/
    font-weight: 400;
}

.form-group__gdpr {
    margin-bottom: 40px;
}

.form-group .form-group__label_gdpr {
    text-transform: none;
}

.gdpr-question-progress {
    width: 100%;
    line-height: 20px;
    max-width: 950px;
    margin: 0 auto 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gdpr-question-progress__text {
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #4a4a4a;
    margin-right: 19px;
    /*margin-bottom: 12px;*/
}

.gdpr-question-progress__text span {
    color: #4a4a4a;
    font-weight: 700;
}

.gdpr-question-progress__inner {
    min-width: 1%;
    width: 220px;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    position: relative;
}

.gdpr-question-progress__inner:after {
    content: '';
    position: absolute;
    border: 1px solid #035858;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
}

.gdpr-question-progress__answered {
    display: block;
    height: 100%;
    min-width: 1px;
    background: #035858;
}

.gdpr-question__button {
    min-width: 220px;
    border-radius: 8px;
}

.gdpr-question__button[disabled] {
    background: #CBCBCB;
    cursor: not-allowed;
}

.gdpr-question-registration-btn-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.gdpr-question-finish__description {
    /*font-weight: 700;*/
    padding-right: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.gdpr-question-registration-btn-wrap .button {
    width: calc(50% - 30px);
}

.gdpr-question__buttons .button {
    margin: 0 10px 15px;
}

.gdpr-question__buttons .button span {
    font-weight: bold;
}

.gdpr-question__buttons_registration {
    width: 460px;
    display: flex;
    justify-content: center;
}

.gdpr-question-textarea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 460px;
}

.gdpr-question-textarea__textarea {
    width: 100%;
    min-height: 140px;
    max-height: 200px;
    outline: none;
    border: none;
    resize: none;
    color: #1a1a1a;
    background: #f2f2f2;
    border-radius: 0;
    font-weight: 400;
    padding: 20px 15px 15px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.gdpr-question-textarea .gdpr-question__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gdpr-question-textarea .gdpr-question__buttons .button {
    width: calc(50% - 13px);
    margin-left: 0;
    margin-right: 0;
}


.gdpr-question__user-container.is-logined {
    display: flex;
    margin-left: auto;
}

.gdpr-question__user-link {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

.gdpr-question__user-avatar {
    border-radius: 50%;
    height: 48px;
    margin-right: 12px;
    object-fit: cover;
    width: 48px;
}

.gdpr-question__user-name {
    color: #035858;
    font-weight: 700;
    line-height: 1.2;
    transition: 0.7s ease-in-out;
    padding-top: 2px;
}

.gdpr-question__user-name:first-letter {
    text-transform: uppercase;
}




@media screen and (max-width: 992px) {
    .gdpr-question-steps {
        order: 3;
        overflow: scroll;
        /*margin-top: 10px;*/
        flex-wrap: nowrap;
        position: relative;
        padding: 10px;
    }

    /*.gdpr-question-steps:after {*/
    /*content: '';*/
    /*width: 1400px;*/
    /*height: 1px;*/
    /*left: -30px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*background: #D8D8D8;*/
    /*}*/

    /*.gdpr-question-steps:before {*/
    /*content: '';*/
    /*width: 1400px;*/
    /*position: absolute;*/
    /*height: 1px;*/
    /*left: -30px;*/
    /*bottom: 0;*/
    /*background: #D8D8D8;*/
    /*}*/

    .gdpr-question__header {
        flex-wrap: wrap;
        padding: 10px 0;
    }

    .gdpr-question__header:after {
        content: none;
    }

    .gdpr-question-steps__item:not(:last-child) .gdpr-question-steps__description:after {
        content: none;
    }

    .gdpr-question-steps__item {
        flex-direction: row;
        min-width: calc(100vw/2 - 30px);
    }

    .gdpr-question-steps__headline {
        text-align: left;
    }

    .gdpr-question__logo {
        order: 1;
    }

    .gdpr-question-steps__login {
        order: 2;
    }
}

@media screen and (max-width: 992px) {
    .gdpr-question__header {
        position: relative;
    }

    .gdpr-question__header:after {
        content: '';
        position: absolute;
        top: 0;
        width: calc(100vw + 50px);
        height: 1px;
        left: -50px;
        background: #D8D8D8;
    }

    .gdpr-question__header:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: calc(100vw + 50px);
        height: 1px;
        left: -50px;
        background: #D8D8D8;
    }

    .gdpr-question__list.gdpr-question__list_registration {
        width: 100%;
        padding: 30px;
    }

    .gdpr-question__buttons_registration {
        width: 100%;
    }

    .gdpr-question__wrap {
        width: 100%;
    }

    .gdpr-question-explanation {
        width: 100%;
    }

    .gdpr-question-explanation__textarea {
        width: 460px;
    }

    .gdpr-question-explanation__description {
        line-height: 1.6;
        font-size: 14px;
    }

    .gdpr-question__item {
        align-items: self-start;
    }

    .gdpr-question__buttons .button {
        min-width: 120px;
    }

}

@media screen and (max-width: 600px) {
    .gdpr-question-progress {
        flex-direction: column;
    }

    .gdpr-question-progress__text {
        margin: 0 0 15px;
    }

    .gdpr-question__buttons {
        text-align: center;
    }

    .gdpr-question-textarea {
        width: 100%;
    }

    .gdpr-question-textarea .gdpr-question__buttons {
        align-items: center;
        flex-direction: column;
    }

    .gdpr-question__list.gdpr-question__list_registration {
        padding: 15px;
        line-height: 1.6;
    }

    .gdpr-question-explanation__textarea {
        width: 100%;
    }

    .gdpr-question__list.gdpr-question__list_registration h3 {
        padding-left: 0;
    }
}

@media screen and (max-width: 360px) {
    .gdpr-question__buttons .button {
        margin: 0px 5px 15px;
    }
}




















