.single-post {
    padding-top: 80px;
    max-width: 100%;
}

.single-post__content {
    padding: 0 205px 0 84px;
}

.single-post__wrap {
    margin-bottom: 60px;
}

.single-post__img {
    width: 100%;
    display: inline-block;
    max-width: 100%;
    margin-top: -30px;
    margin-bottom: 40px;
}

.single-post__area {
    min-width: 170px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 7px 5px;
    background-color: #035858;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 600;
    border-radius: 2px;
    text-align: center;
}

.single-post__title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Georgia', sans-serif;
    margin-bottom: 20px;
}

.single-post__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.single-post__fio {
    font-size: 14px;
    font-weight: bold;
}

.single-post__date {
    font-size: 14px;
    color: #4A4A4A;
}

.single-post__info-title {
    font-size: 8px;
    text-transform: uppercase;
    color: #A0A0A0;
    margin-bottom: 10px;
}

.single-post__description {
    color: #1F1F1F;
    margin-bottom: 40px;
}

.single-post__description a {
    color: #007E7E;
}

.single-post__description p,
.single-post__description li {
    font-size: 14px;
    line-height: 1.8;
    color: #1F1F1F;
    letter-spacing: 0;
    margin-bottom: 27px;
}

.single-post__description img {
    width: 40% !important;
    min-width: 80%;
    height: auto !important;
}

.single-post__description h2 {
    font-size: 28px;
    font-weight: 700;
    color: #1f1f1f;
    letter-spacing: 0;
    line-height: 1.5;
    border-bottom: 2px solid #1f1f1f;
    padding-bottom: 9px;
    margin-bottom: 26px;
}

.single-post__description iframe {
    max-width: 100%;
    max-height: calc((100vw - 60px) / 16 * 9);
}

.single-post__description form {
    max-width: 100%;
    padding: 20px !important;
    margin-bottom: 20px;
}

.single-post__description form h3 {
    margin: 0 0 20px 0 !important;
}

.single-post__description input {
    margin: 0 0 20px 0 !important;
}

.single-post__description .form-group {
    margin-bottom: 0;
}

.single-post__description .img-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-post__tags {
    margin-bottom: 20px;
}

.single-post__tags li {
    margin-right: 25px;
    display: inline-block;
    background: #EDEDED;
    border-radius: 2px;
    font-size: 14px;
    color: #4A4A4A;
    padding: 8px 12px;
    margin-bottom: 20px;
}

.single-post__tags li:last-child {
    margin-right: 0;
}

.single-post__share {
    margin-bottom: 60px;
}

.single-post__lawyer {
    margin-bottom: 60px;
}

.single-post__lawyer-title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Georgia', sans-serif;
    margin-bottom: 15px;
}

.single-post__related-post-title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Georgia', sans-serif;
    margin-bottom: 15px;
}

.single-post__related-post-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.single-post__share-wrap {
    position: fixed;
    top: 200px;
    /*top: calc(50% - 100px);*/
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.single-post__share-wrap.single-post__share-wrap_links {
    left: calc((100vw - 1220px) / 2 + 15px);
}

.single-post__share-wrap.single-post__share-wrap_subscribe {
    right: calc((100vw - 1220px) / 2 + 15px);
}
.single-post__share-wrap.single-post__share-wrap_display {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .single-post {
        padding-top: 64px;
    }
}

@media screen and (max-width: 1200px) {
    .single-post__share-wrap {
        display: none;
    }

    .single-post__content {
        padding: 0;
    }
}
