.home-selecting-lawyer-free {
    padding: 40px 0 100px;
}

.home-selecting-lawyer-free__wrap {
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9), #EDEDED;
    padding: 60px 60px 30px 100px;
}

.home-selecting-lawyer-free__body {
    display: flex;
    flex-wrap: wrap;
}

.home-selecting-lawyer-free__content {
    width: 75%;
}

.home-selecting-lawyer-free__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 40px;
}

.home-selecting-lawyer-free__list {
    margin-bottom: 30px;
}

.home-selecting-lawyer-free__list-item {
    margin-bottom: 25px;
    position: relative;
    padding-left: 10px;
}

.home-selecting-lawyer-free__list-item:after {
    content: '-';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.home-selecting-lawyer-free__selecting {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}

.home-selecting-lawyer-free__selecting-free {
    color: #035858;
    font-weight: bold;
}

.home-selecting-lawyer-free__img-wrap {
    width: 25%;
    text-align: right;
}

.home-selecting-lawyer-free__img {
    display: inline-block;
    margin-left: 15px;
}

.home-selecting-lawyer-free__footer {
    text-align: right;
}

.home-selecting-lawyer-free__btn {
    display: inline-block;
}

@media screen and (max-width: 992px) {

    .home-selecting-lawyer-free__content {
        width: 100%;
    }

    .home-selecting-lawyer-free__body {
        margin-bottom: 20px;
    }

    .home-selecting-lawyer-free__title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .home-selecting-lawyer-free__list-item {
        margin-bottom: 15px;
    }

    .home-selecting-lawyer-free__selecting {
        font-size: 28px;
    }

    .home-selecting-lawyer-free__img-wrap {
        display: none;
    }

    .home-selecting-lawyer-free__wrap {
        padding: 30px;
    }

    .home-selecting-lawyer-free__footer {
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .home-selecting-lawyer-free__selecting {
        font-size: 22px;
    }

    .button.home-selecting-lawyer-free__btn {
        padding: 16px 10px;
    }
}
