.home-lawyers {
    background: #F7F7F7;
    padding: 60px 0;
}

.home-lawyers__title {
    margin-bottom: 40px;
}

.home-lawyers__wrap {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;

}

.home-lawyers__single {
    width: calc(100%/4);
    margin-bottom: 30px;
    padding: 0 15px;
}

.home-lawyers__single:focus {
    outline: none;
}

.home-lawyers-mobile {
    display: none;
}

.home-lawyers__slider {
    padding-bottom: 65px;
}

@media screen and (max-width: 1025px) {
    .home-lawyers__single {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .home-lawyers-desktop {
        display: none;
    }

    .home-lawyers-mobile {
        display: block;
    }

    .home-lawyers__single {
        width: 100%;
        min-height: 470px;
    }

    .home-lawyers__single.home-lawyers__single_no-min-height {
        min-height: 1px;
    }
}

@media screen and (max-width: 400px) {

    .home-lawyers__single {
        min-height: 500px;
    }

}

@media screen and (max-width: 330px) {

    .home-lawyers__single {
        min-height: 600px;
    }

}
