.home {
    background: #F7F7F7;
}

.home__dark-bg {
    background: #F2F2F2;
}

.home__footer {
    padding: 80px 0 60px;
}

.home-h2 {
    color: #1f1f1f;
    font-size: 32px;
    line-height: 1.31;
    font-family: 'Georgia', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.home-getintouch {
    background-color: transparent;
    border: none;
    bottom: 22px;
    box-shadow: none;
    cursor: pointer;
    height: 110px;
    padding: 0;
    position: fixed;
    right: calc((100vw - 1440px) / 2 + 22px);
    width: 110px;
    z-index: 15;
}

.home-getintouch:after {
    border: 1px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    content: '';
    height: 108px;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 108px;
}

.home-getintouch.is-inverse:after {
    border-color: rgb(0, 126, 126);
    border-top-color: transparent;
}

.home-getintouch svg {
    width: 110px;
}

.home-getintouch rect {
    transition: 0.3s ease-in-out;
}

.home-getintouch.is-inverse rect {
    fill: rgb(0, 126, 126);
}

.home-getintouch #ico-mail-white path {
    transition: 0.3s ease-in-out;
}

.home-getintouch.is-inverse #ico-mail-white path {
    fill: white;
}

.home-getintouch path {
    transition: 0.3s ease-in-out;
}

.home-getintouch.is-inverse path {
    fill: rgb(0, 126, 126);
}

@media screen and (max-width: 1440px) {
    .home-getintouch {
        right: 22px;
    }
}

@media screen and (max-width: 600px) {
    .home__footer {
        padding: 40px 0;
    }
}
