.home-hero {
    display: flex;
    background: #ABD2D2;
    height: calc(100vh - 100px);
    position: relative;
    z-index: 20;
    overflow: hidden;
}

.home-hero__wrap {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100vw;
    background: #ABD2D2;
}

.home-hero__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
}

.home-hero__container:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 76px;
    width: 100%;
    background: linear-gradient(180deg, rgba(171, 210, 210, 0.0001) 0%, #ABD2D2 54.89%, #ABD2D2 100%);
}

.home-hero__service-category {
    position: absolute;
    top: -150px;
    left: auto;
    right: 0;
    transform: translateX(0);
    height: calc(100% + 300px);
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.home-hero__service-category-item {
    height: calc(100% / 3 - 20px);
    overflow: hidden;
    width: calc(50% - 15px);
    margin-bottom: 20px;
    margin-right: 20px;
    opacity: .3;
}

.home-hero__service-category-item:nth-child(2) {
    opacity: 1;
    box-shadow: 0 0 24px 1px rgba(3, 88, 88, .3);
    background: #fff;
    border-radius:1.5%;
}

.home-hero__map {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    transform: translateX(0);
}

.home-hero__inner-container {
    width: 60%;
    padding-left: 60px;
}

.home-hero__headline {
    line-height: 1.17;
    font-size: 60px;
    margin-bottom: 20px;
    text-align: left;
    color: #1F1F1F;
    font-family: 'Georgia', sans-serif;
    position: relative;
    z-index: 10;
    font-weight: 700;
}

.home-hero__description {
    color: #1F1F1F;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 40px;
    text-align: left;
    position: relative;
    z-index: 10;
}

.home-hero__button_choose {
    position: relative;
    z-index: 10;
    width: 220px;

}

.home-hero__box {
    background: #EAF3F3;
    border-radius: 8px;
    padding: 9px 9px 9px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    text-decoration: none;
    transition: .3s;
}

.home-hero__box:hover {
    opacity: .8;
}

.home-hero__box-text {
    font-size: 16px;
    line-height: 1;
    color: #4A4A4A;

}
@media screen and (max-height: 700px) {
    .home-hero {
        height: 700px;
    }
}

@media screen and (max-width: 1350px) {
    .home-hero__map {
        right: -150px;
    }
}

/*@media screen and (min-width: 993px) {*/
.home-hero__wrap {
    clip: rect(auto, auto, auto, auto);
    overflow: hidden;
}
/*}*/
@media screen and (max-width: 992px) {
    .home-hero__map {
        display: none;
    }

    .home-hero__service-category {
        display: none;
    }

    .home-hero__container:after {
        content: none;
    }

    .home-hero {
        /*height: auto;*/
        height: calc(100vh - 130px);
    }

    .home-hero__wrap {
        /*position: static;*/
        height: calc(100vh - 130px);
    }

    .container.home-hero__container {
        padding: 80px 0px 60px;
        justify-content: center;
    }

    .home-hero__button_choose {
        margin-bottom: 0;
    }

    .home-hero__inner-container {
        width: 100%;
        padding-left: 0;
    }
}


@media screen and (max-width: 600px) {
    .home-hero__container {
        overflow: hidden;
    }

    .home-hero__headline {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .home-hero__description {
        font-size: 16px;
        line-height: 1.6;
    }

    .home-hero__box {
        flex-wrap: wrap;
        flex-direction: column;
        background: none;
        padding: 0;
    }

    .home-hero__box-text {
        margin-bottom: 20px;
        text-align: center;
        display: none;
    }

    .header-user__button {
        width: 100%;
        padding: 23px 5px;
    }

}

@media screen and (max-width: 350px) {
    .container.home-hero__container {
        padding: 80px 15px 60px;
    }

    .home-hero__headline {
        font-size: 32px;
    }
}
