.home-areas {
    padding: 60px 0 130px;
}

.home-areas.home-areas_sm-padding {
    padding: 60px 0;
}

.home-areas__title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 32px;
    line-height: 1.4;
    color: #1F1F1F;
    margin-bottom: 15px;
}

.home-areas__headline {
    font-size: 14px;
    line-height: 2;
    color: #1F1F1F;
    margin-bottom: 20px;
}

.home-areas__slider {

}

.home-areas__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.home-areas__list-item {
    width: calc(100% / 4);
    padding: 0 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    .home-areas__list-item {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 992px) {
    .home-areas__list-item {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .home-areas__title {
        font-size: 28px;
    }

    .home-areas__headline {
        line-height: 1.8;
    }

    .home-areas {
        padding: 60px 0 120px;
    }
}
