.home-clients-logo {
    padding: 45px 0 0;
}

.home-clients-logo__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home-clients-logo__item {
    width: 25%;
    text-align: center;
    margin-bottom: 20px;
}

.home-clients-logo__img {
    display: inline-block;
    max-width: 100%;
    height: 60px;
    filter: grayscale(1);
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
    /*.home-clients-logo__item {*/
    /*width: 50%;*/
    /*}*/
    .home-clients-logo__container {
        flex-wrap: nowrap;
        overflow: scroll;
    }

    .home-clients-logo__item {
        width: auto;
        min-width: calc(100vw/2);
    }
}

@media screen and (max-width: 600px) {
    /*.home-clients-logo__item {*/
    /*width: 100%;*/
    /*}*/
}
