.home-why-choose-us {
    padding: 80px 0;
    background: #F2F2F2;
}

.home-why-choose-us__item {
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-why-choose-us__description {
    width: 40%;
    color: #1F1F1F;
    margin-top: 20px;
}

.home-why-choose-us__wrap-img {
    width: 50%;
}

.home-why-choose-us__wrap-img_right {
    text-align: right;
}

.home-why-choose-us__img {
    display: inline-block;
    max-width: 100%;
}

.home-why-choose-us__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 20px;
    position: relative;
}

.home-why-choose-us__coming-soon {
    background: url("../../../assets/img/home/whyChooseUs/star.png");
    right: 0;
    top: -15px;
    transform: translateX(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90px;
    height: 90px;
    position: absolute;

    font-weight: bold;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;

    display: flex;
    align-items: center;
}

.home-why-choose-us__content {
    font-size: 14px;
    line-height: 1.6;
}

.home-why-choose-us__item_bark {
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9), #EDEDED;
}

@media screen and (max-width: 992px) {
    .home-why-choose-us {
        padding: 0;
    }
    .home-why-choose-us__description {
        width: 100%;
        margin-bottom: 30px;
    }

    .home-why-choose-us__wrap-img {
        width: 100%;
        text-align: center;
    }

    .home-why-choose-us__item:nth-child(even) {
        flex-direction: column-reverse;
    }

    .home-why-choose-us__item {
        padding: 0 0 40px;
    }

    .home-why-choose-us__item:first-child {
        padding: 40px 0 40px;
    }

    .home-why-choose-us__item_coming-soon .home-why-choose-us__title{
        padding-right: 65px;
    }

    .home-why-choose-us__coming-soon {
        width: 60px;
        height: 60px;
        font-size: 7px;
        transform: translateX(0);
    }

    .home-why-choose-us__title {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .home-why-choose-us__item_bark {
        background: none;
    }
}
