.home-trust-clients {
    padding-bottom: 160px;
}

.home-trust-clients__title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 32px;
    line-height: 1.3;
    color: #1F1F1F;
    margin-bottom: 60px;
}

.home-trust-clients__item {
    height: 510px;
    padding: 40px;
    transition: 0.4s ease-in-out;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    text-decoration: none;
    border-radius: 4px;
}

.home-trust-clients__item noindex {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
}


.home-trust-clients__item:focus {
    outline: none;
}

.home-trust-clients__item:hover {
    background: #ffffff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.home-trust-clients__body {
    flex: auto;
}

.home-trust-clients__info {
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    margin-bottom: 20px;
}

.home-trust-clients__author-photo {
    border-radius: 50%;
    margin-right: 20px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    object-fit: cover;
}

.home-trust-clients__headline {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #4A4A4A;
}

.home-trust-clients__author-name {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px;
}

.home-trust-clients__position {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

.home-trust-clients__description {
    font-style: italic;
    font-size: 14px;
    line-height: 24px;
    color: #1F1F1F;
}

.home-trust-clients__logo {
    object-fit: contain;
    width: 100px;
    height: 60px;
    filter: grayscale(1);
    align-self: flex-start;
}

@media screen and (max-width: 600px) {
    .home-trust-clients__title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .home-trust-clients {
        padding-bottom: 120px;
    }
}

@media screen and (max-width: 350px) {
    .home-trust-clients__item {
        height: 540px;
    }
}

