.category-single-filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.category-single-filters__item {
    width: 250px;
    margin-right: 25px;
}

.category-single-filters__item:last-child {
    margin-right: 0;
}

.category-single-filters__form-group {
    padding-top: 0;
    margin-bottom: 25px;
}

.category-single-filters__form-group label {
    font-size: 10px;
    color: #4A4A4A;
    margin-bottom: 8px;
    position: relative;
    letter-spacing: 1px;
    display: block;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {

    .category-single-filters__item {
        width: 100%;
        margin-right: 0;
    }

    .category-single-filters {
        margin-bottom: 10px;
    }

}
