.sitemap {
    padding: 80px 0 30px;
}

.sitemap__title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 32px;
    line-height: 1.4;
    color: #1F1F1F;
    margin-bottom: 30px;
}

.sitemap__category {
    margin-bottom: 15px;
}

.sitemap__category-wrap {
    display: flex;
    flex-wrap: wrap;
}

.sitemap__category-title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.sitemap__subcategories-wrap {
    margin-bottom: 30px;
}
