.subcategories-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
    color: #1F1F1F;
    margin-bottom: 20px;
}

.subcategories-link {
    color: #035858;
    display: block;
    margin-bottom: 15px;
    /*min-height: 50px;*/
    padding-bottom: 10px;
    border-bottom: 1px solid #D8D8D8;
    text-decoration: none;
    transition: .3s;
}

.subcategories-link:hover {
    border-color: #035858;
}


.site-map-column {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 10px;
}

.site-map-column__categories {
    width: calc(100%/4);
    padding: 0 15px;
}

.site-map-column__links-list {
    display: flex;
    flex-direction: column;
}

.site-map-column__links-list {

}

.site-map-column__item {

}

@media screen and (max-width: 992px) {

    .site-map-column__categories {
        width: calc(100%/2 - 15px);
    }
}

@media screen and (max-width: 600px) {

    .site-map-column__categories {
        width: 100%;
    }
}



.site-map-row__links-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 10px;
}

.site-map-row__item {
    width: calc(100%/4);
    padding: 0 15px;
}

@media screen and (max-width: 992px) {

    .site-map-row__item {
        width: calc(100%/2 - 15px);
    }
}

@media screen and (max-width: 600px) {

    .site-map-row__item {
        width: 100%;
    }
}


