.bread-crumbs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 15px 0;
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
}

/*.bread-crumbs__headline {*/
/*margin: 0 31px 0 12px;*/
/*}*/

.bread-crumbs__step {
    position: relative;
    margin-right: 27px;
    padding-right: 27px;
    font-size: 10px;
    color: #4A4A4A;
    text-decoration: none;
}

.bread-crumbs__step.bread-crumbs__step_hover {
    transition: .3s;
}

.bread-crumbs__step.bread-crumbs__step_hover:hover {
    color: #007E7E;
}

.bread-crumbs__step.is-active  {
    color: #007E7E;
}

/*.bread-crumbs__step.is-disabled {*/
/*color: #A0A0A0;*/
/*}*/

.bread-crumbs__step:after {
    content: '/';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /*width: 2px;*/
    text-align: center;
}

.bread-crumbs__step:hover:after {
    color: #4A4A4A;
}

.bread-crumbs__step:last-child:after {
    display: none;
}


@media screen and (max-width: 560px) {
    .bread-crumbs {
        margin: 15px 0 30px 0;
    }

    .bread-crumbs__headline {
        margin: 0;
    }

    .services-categories .bread-crumbs__headline,
    .services-category .bread-crumbs__headline {
        padding-left: 15px;
    }

    .bread-crumbs__step {
        padding-right: 10px;
        margin-right: 10px;
    }
}
