.choose-legal-area {

}

.choose-legal-area__wrap {
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9), #EDEDED;
}

.choose-legal-area__container {
    padding: 60px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.choose-legal-area__content {

}

.choose-legal-area__title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 32px;
    line-height: 1.3;
    color: #0C0C0D;
    margin-bottom: 5px;
}

.choose-legal-area__text {
    font-size: 14px;
    line-height: 1.8;
    color: #000;
}

@media screen and (max-width: 992px) {
    .choose-legal-area__container {
        padding: 40px;
    }
    .choose-legal-area__content {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .choose-legal-area__container {
        padding: 40px;
    }

    .choose-legal-area__wrap {
        background: none;
    }

    .choose-legal-area__container {
        background: linear-gradient(0deg, #E9E9E9, #E9E9E9), #EDEDED;
        padding: 40px 60px;
    }

    .choose-legal-area__title {
        font-size: 28px;
    }

    .choose-legal-area__button {
        width: 100%;
    }
}
