.lawyer-work-with-us {
    height: 100%;
    background: #F2F2F2;
    border: 1px solid rgba(31, 31, 31, 0.1);
    border-radius: 4px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 55px 15px;
}

.lawyer-work-with-us__wrap {
    align-self: center;
    text-align: center;
}

.lawyer-work-with-us__title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: #1F1F1F;
    margin-bottom: 60px;
}

.lawyer-work-with-us__button {
    padding: 16px;
    letter-spacing: 1px;
    display: inline-block;
}
