.lawyer-small-card {
    height: 100%;
    background: rgba(253, 253, 253, .5);
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    min-height: inherit;
    transition: .3s;
}

.lawyer-small-card__content {
    flex: auto;
}

.lawyer-small-card:hover {
    box-shadow: 0 2px 34px rgba(0, 0, 0, .1);
}

.lawyer-small-card__header {
    margin-bottom: 10px;
    display: flex;
}

.lawyer-small-card__body {

}

.lawyer-small-card__photo-wrap {
    margin-right: 20px;
    position: relative;
}

.lawyer-small-card__photo {
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #EDEDED;
}

.lawyer-small-card__check {
    position: absolute;
    right: 0;
    top: 4px;
}

.lawyer-small-card__info {
    width: calc(100% - 58px - 15px);
}

.lawyer-small-card__practice {
    font-weight: bold;
    font-size: 14px;
    color: #007E7E;
    margin-bottom: 10px;
}

.lawyer-small-card__name {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    color: #4A4A4A;
    margin-bottom: 8px;
}

.lawyer-small-card__about {
    margin-bottom: 10px;
    display: flex;
}

.lawyer-small-card__about:last-child {
    margin-bottom: 0;
}

.lawyer-small-card__about-img {
    max-height: 18px;
}

.lawyer-small-card__about-info {
    font-size: 14px;
    line-height: 1.4;
    color: #4A4A4A;
}

.lawyer-small-card__about-info.lawyer-small-card__about-info_light {
    color: #007E7E;
}

.lawyer-small-card__expertise {
    margin-bottom: 10px;
}

.lawyer-small-card__expertise-title {
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    color: #A0A0A0;
    margin-bottom: 5px;
}

.lawyer-small-card__expertise-info {
    font-size: 12px;
    line-height: 1.6;
    color: #1F1F1F;
}

.lawyer-small-card__feedback {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.lawyer-small-card__feedback-title {
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    color: #A0A0A0;
    margin-bottom: 5px;
}

.lawyer-small-card__feedback-info {
    font-size: 12px;
    line-height: 1.6;
    color: #1F1F1F;
    font-style: italic;
}

.lawyer-small-card__feedback-more {
    font-size: 10px;
    position: relative;
    color: #007E7E;
    display: inline-block;
    align-self: flex-end;
}

.lawyer-small-card__feedback-more:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #007E7E;
}

.lawyer-small-card__feedback-more-plus {
    display: inline-block;
    padding-right: 10px;
}
