.lawyer-row {
    background-color: rgba(253, 253, 253, .5);
    color: #1F1F1F;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 50px 20px 20px;
    margin-bottom: 20px;
    text-decoration: none;
    width: 100%;
    transition: .3s;
}

.lawyer-row:hover {
    background: #fff;
    box-shadow: 0 2px 24px rgba(0, 0, 0, .1);
    border-color: rgba(3, 88, 88, .2);
}

.lawyer-row__info {
    width: 30%;
    padding-right: 30px;
}

.lawyer-row__info-header {
    display: flex;
    margin-bottom: 10px;
}

.lawyer-row__avatar-wrap {
    position: relative;
    margin-right: 20px;
    display: flex;
}

.lawyer-row__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    border: 1px solid #EDEDED;
}

.lawyer-row__checked-img {
    position: absolute;
    right: 0;
    top: 4px;
}

.lawyer-row__name-wrap {
    color: #4A4A4A;
}

.lawyer-row__name {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.lawyer-row__country {
    font-size: 14px;
}

.lawyer-row__practice {
    font-weight: bold;
    font-size: 14px;
    color: #007E7E;
}

.lawyer-row__about {
    width: 70%;
}

.lawyer-row__expertise {
    margin-bottom: 10px;
    min-height: 80px;
}

.lawyer-row__expertise-title {
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    color: #A0A0A0;
    margin-bottom: 7px;
}

.lawyer-row__expertise-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.lawyer-row__expertise-content {
    width: 70%;
    margin-right: 20px;
    font-size: 12px;
    line-height: 1.7;
    color: #4A4A4A;
}

.lawyer-row__feedback {
}

.lawyer-row__feedback-title {
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    color: #A0A0A0;
    margin-bottom: 7px;
}

.lawyer-row__feedback-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.lawyer-row__feedback-content {
    width: 70%;
    margin-right: 20px;
    font-size: 12px;
    font-style: italic;
    line-height: 1.7;
    color: #4A4A4A;
}

.lawyer-row__more-feedback {
    font-size: 10px;
    position: relative;
    color: #007E7E;
    display: inline-block;
}

.lawyer-row__more-feedback:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #007E7E;
}

.lawyer-row__more-feedback-plus {
    display: inline-block;
    padding-right: 10px;
}

.lawyer-row__button_mobile {
    display: none;
}

@media screen and (max-width: 768px) {

    .lawyer-row {
        padding: 20px;
        flex-direction: column;
    }

    .lawyer-row__info {
        width: 100%;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .lawyer-row__button_desktop {
        display: none;
    }

    .lawyer-row__about {
        width: 100%;
    }

    .lawyer-row__expertise {
        min-height: auto;
    }

    .lawyer-row__expertise-content {
        width: 100%;
        margin-right: 0;
    }

    .lawyer-row__feedback {
        margin-bottom: 20px;
    }

    .lawyer-row__feedback-wrap {
        flex-direction: column;
    }

    .lawyer-row__feedback-content {
        width: 100%;
        margin-right: 0;
    }

    .lawyer-row__more-feedback {
        align-self: flex-end;
    }

    .lawyer-row__button {
        align-self: center;
    }

    .lawyer-row__button_mobile {
        display: inline-block;
    }
}
