.post-subscribe {
    width: 185px;

}

.post-subscribe__title,
.post-subscribe__successfully-subscribed {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    color: #1F1F1F;
    margin-bottom: 20px;
}

.post-subscribe__form-group {
    position: relative;
    margin-bottom: 30px;
}

.post-subscribe__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1F1F1F;
    margin-bottom: 8px;
}

.post-subscribe__required {
    color: #007E7E;
    font-size: 20px;
}

.post-subscribe__input {
    height: 48px;
    background: #fff;
    width: 100%;
    max-width: 100%;
    border: none;
    font-size: 14px;
    padding: 5px;
    color: #1F1F1F;
}

.post-subscribe__input:focus {
    outline: none;
}

.post-subscribe__error {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    color: #ff2b45;
    font-size: 10px;
}
