.post-item {
    width: calc(100% / 3);
    padding: 0 12px;
    margin-bottom: 60px;
}

.post-item__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.post-item__link {
    cursor: pointer;
    text-decoration: none;
}

.post-item__link:hover {
    text-decoration: none;
    color: inherit;
}

.post-item__link:hover .post-item__img {
    box-shadow: 0 2px 34px rgba(0, 0, 0, .1);
}

.post-item__img {
    height: 175px;
    margin-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;
}

.post-item__info {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.post-item__header {
    flex: auto;
    margin-bottom: 20px;
}

.post-item__footer {

}

.post-item__area {
    min-width: 170px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 7px 5px;
    background-color: #035858;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 600;
    border-radius: 2px;
    text-align: center;
}

.post-item__title {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Georgia', sans-serif;
    margin-bottom: 10px;
    color: #4A4A4A;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-item__description {
    font-size: 10px;
    color: #4A4A4A;
    line-height: 2;
}

.post-item__author {
    color: #A0A0A0;
    font-size: 10px;
    letter-spacing: 0;
    background: none;
    text-transform: none;
    font-weight: 400;
    padding: 0;
    min-width: auto;
    transition: .3s;
}

.post-item__author:hover {
    color: #007E7E;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .post-item {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .post-item {
        width: 100%;
    }
}
