.share-social-icons {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.share-social-icons__item {
    margin-right: 30px;
    transition: .3s;
}

.share-social-icons__item:hover {
    opacity: .7;
}

.share-social-icons__item:last-child {
    margin-right: 0;
}

.share-social-icons__wrap-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #1F1F1F;
}

.share-social-icons__icon {
    display: inline-block;
}

.share-social-icons.share-social-icons_direction-column {
    flex-direction: column;

}

.share-social-icons_direction-column .share-social-icons__item {
    margin-right: 0;
    margin-bottom: 30px;
}

.share-social-icons_direction-column .share-social-icons__item:last-child {
    margin-bottom: 0;
}
