.share-post {
    background: linear-gradient(0deg, #F0F0F0, #F0F0F0), #EDEDED;
    border-radius: 8px;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
}

.share-post__title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: #1F1F1F;
}

@media screen and (max-width: 600px) {
    .share-post {
        flex-direction: column;
        padding: 30px;
    }

    .share-post__title {
        margin-bottom: 20px;
    }
}
