.short-lawyer-info {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.short-lawyer-info__avatar {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
    margin-right: 20px;
    border: 1px solid #EDEDED;
}

.short-lawyer-info__name  {
    font-size: 14px;
    line-height: 1;
    color: #4A4A4A;
    align-self: center;
}
