.single-area {
    padding: 35px;
    background: #FDFDFD;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
    color: #1F1F1F;
    min-height: 378px;
    height: 100%;
    transition: .3s;
}

.single-area:focus {
    outline: none;
}

.single-area:hover {
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.single-area:hover .single-area__button {
    background: #035858;
    color: #fff;
}

.single-area__body {
    flex: auto;
}

.single-area__title {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 10px;
    min-height: 43px;
}

.single-area__description {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.single-area__list {
    margin-bottom: 15px;
}

.single-area__list li {
    font-size: 12px;
    line-height: 1.6;
    color: #4A4A4A;
    margin-bottom: 5px;
    position: relative;
}

.single-area__list li:after {
    content: '';
    position: absolute;
    left: -7px;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: #4A4A4A;
}


.single-area__button {
    width: 100%;
}

/*******************  coming-soon ****************************/

.single-area__coming-soon {
    position: relative;
    overflow: hidden;
}

.single-area__label-coming-soon {
    position: absolute;
    background: #035858;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 50px;
    transform: rotate(45deg) translateY(-100%);
    transform-origin: bottom;
    right: 0;
    top: 31px;
}

.single-area__coming-soon .single-area__title {
    margin-bottom: 15px;
    padding-right: 12px;
}


.single-area__coming-soon .single-area__description {
    margin-bottom: 25px;
}

.single-area__coming-soon .single-area__description > div {
    height: 16px;
    width: 100%;
    background: #EDEDED;
    margin-bottom: 12px;
}

.single-area__coming-soon .single-area__description > div:last-child {
    width: 30%;
}

.single-area__coming-soon .single-area__list li {
    height: 12px;
    background: #EDEDED;
    margin-bottom: 12px;
    width: 100%;
}

.single-area__coming-soon .single-area__list li:last-child {
    width: 70%;
}

.single-area__coming-soon .single-area__list li:after {
    content: none;
}

@media screen and (max-width: 600px) {
    .single-area__title {
        min-height: auto;
    }
}
